body {
  color: green;
  text-align: center;
  font-family: 'Share Tech Mono';
}

body img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

h3.hostname {
  color: darkgreen;
  font-size: 5em;
}
