img src='/images/chameleons_eye.jpg'
h1 DevOps techniques in SUSE environment

h3 Hello from Nürnberg

- if (`uname -a` =~ /boot2docker/)
  h4 style="color: black" Container ID: #{ENV['HOSTNAME']}
- else
  h4 style="color: black" Host ip: #{`hostname -f`}
